# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [6]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [11]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

# Зависимость между количеством детей и возвратом кредита в срок

In [22]:
grouped_children = data.groupby('children')['debt'].count()

# Сгруппируем долги по количеству детей
# Получаем общую разбивку долгов по кол-ву детей

grouped_children

children
0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: debt, dtype: int64

In [23]:
children_pivot = data.pivot_table(index = ['children'], \
                                columns = ['debt'], \
                                values = 'purpose', aggfunc='count')

children_pivot['ratio'] = children_pivot[1] / children_pivot[0] * 100
children_pivot

# Делаем сводную таблицу для большей наглядности
# Столбец ratio показывает отношение общего кол-ва людей с долгами к людям без долгов, в зависимости от наличия детей

debt            0       1      ratio
children
0         13028.0  1063.0   8.159349
1          4364.0   444.0  10.174152
2          1858.0   194.0  10.441335
3           303.0    27.0   8.910891
4            37.0     4.0  10.810811
5             9.0     NaN        NaN

Бездетные люди выплачивают кредиты хуже всего, стоит обратить на это внимание. Так же в строке с кол-вом детей "5" отсутствуют данные, но на нашу выборку это не повлияло.

**Вывод** : люди выплачивают кредиты примерно на одном уровне, вне зависимости от наличия детей

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

# Зависимость между семейным положением и возвратом кредита в срок

In [24]:
family_status_set = data.groupby('family_status')['debt'].sum() / data.groupby('family_status')['debt'].count() * 100
family_status_set

family_status
Не женат / не замужем    9.763948
в разводе                7.064760
вдовец / вдова           6.624606
гражданский брак         9.313014
женат / замужем          7.560558
Name: debt, dtype: float64

Предварительно можно сказать, что люди со статусом "в разводе" и "вдовец/вдова" имеют самые низкие показатели

In [25]:
family_status_pivot = data.pivot_table(index=['family_status'], columns=['debt'], values='total_income', aggfunc='count')
family_status_pivot['ratio'] = family_status_pivot[1] / family_status_pivot[0] * 100
family_status_pivot

# Постороим сводную таблицу для большей наглядности
# Столбец ratio показывает отношение общего кол-ва людей с долгами к людям без долгов, в зависимости от семейного статуса

debt                       0    1      ratio
family_status
Не женат / не замужем   2523  273  10.820452
в разводе               1105   84   7.601810
вдовец / вдова           888   63   7.094595
гражданский брак        3749  385  10.269405
женат / замужем        11334  927   8.178931

**Вывод:** семейное положение влияет на вовзрат кредитов. У людей с семейным статусом "в разводе" и "вдовец/вдова" самые низкие показатели, нужно обратить на это внимание.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

# Зависимость между уровнем дохода и возвратом кредита в срок

In [26]:
income_grouped = data.groupby('total_income_category')['debt'].count()

# Группируем долги по категориям, функцию для определения которых мы делали ранее

income_grouped

total_income_category
A       25
B     5014
C    15921
D      349
E       22
Name: debt, dtype: int64

In [27]:
income_pivot = data.pivot_table(index=['total_income_category'], columns=['debt'], values='education', aggfunc='count')
income_pivot['ratio'] = income_pivot[1] / income_pivot[0] * 100
income_pivot

# Построим сводную таблицу для большей наглядности
# Столбец ratio показывает отношение общего кол-ва людей с долгами к людям без долгов, в зависимости от уровня дохода

debt                       0     1      ratio
total_income_category
A                         23     2   8.695652
B                       4660   354   7.596567
C                      14568  1353   9.287479
D                        328    21   6.402439
E                         20     2  10.000000

**Вывод:** самые низкие показатели у людей с категорией "D" и "B". Если с категорией "D" все более менее очевидно, то насчет "B" пока затрудняюсь сказать. Возможно, у людей с высоким уровнем дохода больше непогашенных кредитов.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [28]:
purpose_pivot = data.pivot_table(index=['purpose_category'], columns=['debt'], values='education', aggfunc='count')
purpose_pivot['ratio'] = purpose_pivot[1] / purpose_pivot[0] * 100
purpose_pivot

# Составим сводную таблицу по данным из столбца purpose_category, функцию для которго мы делали ранее
# Столбец ratio показывает отношение общего кол-ва людей с долгами к людям без долгов, в зависимости от цели кредита

debt                         0    1      ratio
purpose_category
операции с автомобилем    3879  400  10.311936
операции с недвижимостью  9971  780   7.822686
получение образования     3619  369  10.196187
проведение свадьбы        2130  183   8.591549

**Вывод:** можно сказать, что кредиты на операции с недвижимостью и проведение свадьбы имеют наименьшие показатели. Так как ипотека - большая и рисованная сделка для физ. лица, а проведение свадьбы - неликвидный кредит.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* 
- Человеческий фактор (сотрудник банка по невнимательности не внес данные, либо внес с ошибкой)
- Технологические ошибки (при выгрузке/загрузке базы, часть данных могла быть утеряна)

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Заполнять пропуски стоит не средним, медианным занчением, потому что если в выборке есть результаты, сильно отличающиеся от остальных, они могут сместить баланс в одну из сторон при подсчете методом mean(). Медианное же значение располагается ровно посередине: в одной половине значения меньше медианного, в другом больше.

### Шаг 4: общий вывод.

# Общий вывод:
    
  Перед вами результаты исследования, проведенного на основании полученных данных о платежеспособности клиентов банка. Результаты исследования будут учтены при построении модели кредитного скоринга - специальной системы, которая оценивает способность потенциального заемщика вернуть кредит банку.
    
Перед проведением исследования было выдвинуто несколько гипотез:
    
- гипотеза 1: количество детей влияет на возврат кредита в срок
- гипотеза 2: семейное положение влияет на возврат кредита в срок
- гипотеза 3: уровень дохода влияет на возврат кредина в срок
- гипотеза 4: цель кредита влияет на возврат кредита в срок
    
**Гипотеза 1** - **частично подтверждена**
    
- 8,2% - доля просроченных кредитов у клиентов без детей
- 8,9% - доля просроченных кредитов у клиентов с тремя детьми
- 10,2% - доля просроченных кредитов у клиентов с одним ребенком
- 10,4% - доля просроченных кредитов у клиентов с двумя детьми
- 10,8% - доля просроченных кредитов у клиентов с четырьмя детьми
    
    Клиенты без детей выглядят лучшими заемщиками для банка. По остальным группам нужна более обширная выборка.
   
*Рекомендация:* собрать данные по клиентам, имеющих пять детей, для анализа данных и добавления их в таблицу.
    
    
**Гипотеза 2** - **подтверждена**
    
- 7,1% - доля непогашенных кредитов у клиентов с семейным статусом "вдовец/вдова".
- 7,6% - доля непогашенных кредитов у клиентов с семейным статусом "в разводе".
- 8,2% - доля непогашенных кредитов у клиентов с семейным статусом "женат/замужем".
- 10,3% - доля непогашенных кредитов у клиентов с семейным положением "в гражданском браке".
- 10,8% - доля непогашенных кредитов у клиентов с семейным положением "не женат/ не замужем".
    
    У не женатых клиентов, а так же у клиентов, состоящих в гражданском браке, вероятность стать должниками выше.
    Те, кто в разводе, женаты/замужем или вдова/вдовец менее вероятно становятся должниками.
    
**Гипотеза 3** - **частично подтверждена**
    
- 6,4% - доля просроченных кредитов у клиентов с доходом 30.000 - 50.000
- 7,6% - доля просроченных кредитов у клиентов с доходом 200.000 - 1.000.000
- 8,7% - доля просроченных кредитов у клиентов с доходом более 1.000.000
- 9,3% - доля просроченных кредитов у клиентов с доходом 50.000 - 200.000
- 10%  - доля просроченных кредитов у клиентов с доходом до 30.000
    
    Клиенты с низким уровнем дохода имеют больше всего непогашенных кредитов, при этом количество должников в категории людей с доходом более миллиона отличаются от первых всего на 1,3%
    
*Рекомендация:* провести более углубленное исследование на большей выборке данных по доходам клиентов.
    
**Гипотеза 4** - **подтверждена**
    
- 7,8% - доля непогашенных кредитов, которые брали на операции с недвижимостью.
- 8,6% - доля непогашенных кредитов, которые брали на проведение свадеб.
- 10,2% - доля непогашенных кредитов, которые брали на получение образования.
- 10,3% - доля непогашенных кредитов, которые брали на операции с автомобилем.
    
    Клиенты, оформляющие кредит на покупку недвижимости или проведение свадьбы - более надежные заемщики. 
    Те, кто берет кредит на получение образования и операции с автомобилем с большей вероятностью не вернут займ в срок.
    
*Общие рекомендации:* 
    
Специалистам из раздела по разработке ПО нужно передать информацию о частых случаях пропусков данных, дубликатов, сверхнизких/сверхвысоких значений. 
Необходимо провести более обширную выборку, чтобы полностью доказать гипотезы 1 и 3.